body {
  background: #fafafa;
  color: #525252;
  font-family: -apple-system, 'avenir next', avenir, helvetica, 'helvetica neue', Ubuntu, 'segoe ui', arial, sans-serif;
  font-size: 125%;
  line-height: 1.5;
}
main {
  margin: 2rem auto;
  max-width: 50rem;
  padding: 5%;
}
footer {
  font-style: italic;
}
svg {
  position: relative;
  top: 3px;
  margin-right: 5px;
}
@keyframes linkHover {
  0%, 100%, {
    color: dodgerblue;
    fill: dodgerblue;
  }
  50% {
    color: mediumblue;
    fill: mediumblue;
  }
}

a {
  color: dodgerblue;
}
path {
  fill: dodgerblue;
}

a:hover, a:hover > svg path {
  animation: linkHover 1s infinite ease-in-out;
}
