
<template name="resume">

	<div id="resume">
		<p>I’m a UX Designer & Full Stack Developer who is passionate about creating great products with excellent user experience. I believe a user-centered perspective is essential for successful projects.</p>

		<div id="notable-projects" class="resume-section">
			<h3>Notable Projects</h3>
			<h4>AMCTV - TURN: WASHINGTON’S SPIES INTERACTIVE MAP</h4>
			<p>Led development & interactive design for AMCTV’s Turn: Washington’s Spies interactive map project. Lift designed & implemented an AngularJS single page application that enabled AMCTV’s team to easily update week to week to enhance the depth of the show’s historical content. </p>
			
			<h4>AMCTV - BLOG MIGRATION</h4>
			<p>Led development & asset/database migration of a more than decade old multi-blog Moveable Type installation to the latest WordPress. Saved time and money by improving editor workflow. Client then had ability to effectively develop show brands.</p>

			<h4>eBAY - DAILY DEALS BLOG</h4>
			<p>Led development of custom theme & plugin for WordPress site to showcase daily deals with expirations for a global audience. Worked to give non-technical client employees capability to manage and maintain realtime deals to promote sales of products.</p>

			<h4>AMCTV - WALKING DEAD & BREAKING BAD STORY SYNC</h4>
			<p>Contributed to development & interactive design of AMCTV’s Walking Dead & Breaking Bad Story Sync, a real-time second screen experience. Implemented new features & optimized existing technology to enhance user engagement in the second screen experience.</p>
		</div>

		<div id="experience" class="resume-section">
			<h3>Experience</h3>

			<h4>LEAD DEVELOPER, LIFTUX</h4>
			<small>FEB 2012 - PRESENT; MCKINNEY, TX (REMOTE)</small>
			<p>Lead & manage development teams for client & internal projects. Design, architect & implement tailormade digital products. Strong emphasis in technical expertise, documentation & communication for user experience projects with global clientele.</p>

			<h4>WEB DEVELOPER, PIXELFISH INC.</h4>
			<small>OCT 2011 - FEB 2012; TORRENCE, CA (REMOTE)</small>
			<p>Collaborate with design and engineering teams to create, maintain and optimize internal company products and web interfaces. Primary goals were to increase customer retention and enhance user experience.</p>

			<h4>LEAD DEVELOPER, MAY</h4>
			<small>SEPT 2009 - OCT 2011; MURRIETA, CA (REMOTE)</small>
			<p>Led development, implementation, and delivery of projects while working with a remote agile team to satisfy client needs on time and under budget. I had the privilege to manage a small development team while collaborating with designers to meet project requirements and deadlines.</p>
		</div>

		<div id="skills" class="resume-section">
			<h3>Skills</h3>
			<h4>FRONT-END RELATED</h4>
			<p>Expert knowledge in XHTML, HTML5, CSS, Sass, LESS, Javascript, jQuery, Coffee Script, AngularJS, Backbone.js, various templating engines. Working knowledge in other front-end application software such as Knockout, Ember, React.</p>

			<h4>BACK-END RELATED</h4>
			<p>Expert knowledge in PHP, Wordpress, MySQL, NodeJS, Unix, NoSQL DBs, RESTful Environments. Working knowledge in Ruby & Rails. Brief but growing experience with Obj-C & Swift, focusing on iOS environment.</p>

			<h4>WORKFLOW RELATED</h4>
			<p>Expert knowledge in Terminal, Bash, Vim, version control systems (Git, Mercurial, & SVN) & NodeJS tooling (Grunt/Gulp/NPM/Bower). Daily use of Sketch & Adobe Creative Suite, with primary focus on Photoshop & Illustrator.</p>
		</div>

	</div>

</template>
