
<template name="home">

	<h3>UX Designer. Full Stack Developer. Internet&nbsp;Nice&nbsp;Guy.</h3>

	<p>
		Hi there. I solve problems on the web, let's work together. 
		I work with clients big and small that care about doing <em>great</em> things in a digital medium. 
		I love meeting new people, <em>crafting</em> things &amp; <em>all things</em> technology. 
		<a href="mailto:&#109;&#97;&#116;&#116;&#104;&#101;&#119;&#46;&#97;&#46;&#115;&#105;&#109;&#111;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;?subject=Hi!">Say&nbsp;<em>&ldquo;Hi!&rdquo;</em></a>
	</p>

</template>

