
@import "partials/normalize";

$bp-sm: 30.1em;
$bp-md: 48.1em;
$bp-lg: 75.1em;

@import "partials/flex-grid";


// Base Colors
$color-dark: #232228;
$color-light: #E3E3E3;
$color-accent: #22C26C;

// Contextual Color Assignments
$text-color: $color-light;
$link-color: $color-accent;
$bg-color: $color-dark;

@import "partials/base";
@import "partials/resume";
@import "partials/portfolio";

html {
	font-size: 110%;
	line-height: 1.6;
}

h1, h2, h3, h4 {
	line-height: 1.2;
}

#wrapper {
	margin: 1em auto 5em;
	max-width: 36em;
	width: 80%;
}



#main-header {
	@extend .row;

	@include align-items(baseline);
	margin-bottom: 1em;

	h1 {
		margin-bottom: .25em;
	}
}


#main-footer {
	@extend .row;
	
	@include align-items(baseline);
	font-size: .8em;
	margin: 5em 0 3em;
	text-align: center;

	span {
		margin-bottom: 1.5em;
	}

	svg {
		height: 1.3em;
	}

	> a {
		text-align: center;
		position: relative;
		top: 5px;
	}


}


#main-header > a {
	text-align: left;

	&.col-last {
		text-align: right;
	}
}

a.inline-icon span {
	position: relative;
	text-align: left;
	top: -3px;
}

.col-last {
	text-align: right;
}

@media only screen and (min-width: $bp-sm) {


	#wrapper {
		margin: 5em auto 7em;
	}

	#main-footer {
		text-align: left;
	}

}

@media only screen and (min-width: $bp-md) {
	html {
		font-size: 125%;
	}

	#wrapper { 
		width: 60%;
	}
}


@media only screen and (min-width: $bp-lg) {
	html {
		font-size: 130%;
	}
}
