
@import "partials/normalize";

$bp-sm: 30.1em;
$bp-md: 48.1em;
$bp-lg: 75.1em;

@import "partials/flex-grid";


// Base Colors
$color-dark: #232228;
$color-light: #E3E3E3;
$color-accent: #22C26C;

// Contextual Color Assignments
$text-color: $color-light;
$link-color: $color-accent;
$bg-color: $color-dark;

@import "partials/base";

html {
	font-size: 110%;
}

#wrapper {
	margin: 1em auto 5em;
	max-width: 36em;
	width: 80%;
}



#main-header {
	@extend .row;

	@include align-items(baseline);
	margin-bottom: 1em;
}


#main-footer {
	@extend .row;
	
	@include align-items(baseline);
	font-size: .8em;
	margin: 5em 0 3em;

	.inline-icon:hover {
		text-decoration: line-through;
	}

	svg {
		height: 1.3em;
	}
}


#main-header > a,
#main-footer > a {
	text-align: left;
}

a.inline-icon span {
	display: none;
	padding: 0 0 0 25px;
	position: relative;
	text-align: left;
	top: -1.55em;

	#main-header & {
		top: -1.58em;
	}

}

@media only screen and (min-width: $bp-sm) {

	#wrapper {
		margin: 5em auto 7em;
	}

	a.inline-icon span {
		display: inline;
	}
}

@media only screen and (min-width: $bp-md) {
	html {
		font-size: 125%;
	}

	#wrapper { 
		width: 60%;
	}
}


@media only screen and (min-width: $bp-lg) {
	html {
		font-size: 130%;
	}

}
